<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        {{ with .Site.Params.mastodon }}<a href="{{ . }}">Mastodon</a> | {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> | {{ end }}
        {{ with .Site.Params.youtube }}<a href="{{ . }}">YouTube</a> | {{ end }}
	{{ with .Site.Params.kofi }}<a href="{{ . }}">Ko-fi</a> | {{ end }}
	{{ with .Site.Params.twitch }}<a href="{{ . }}">Twitch</a> {{ end }}
    </p>
</footer>

